:root {
  --bg: #202020;
  --outline: #373737;
  --text: #bababa;
  --add: #626ed9;
  --done: #ecbb5b;
  --undone: #8c7343;
  --remove: #c64444;
  --remove-uncheck: #c64444;
  --uncheck-bg: #373737;
  --uncheck-text: #5c5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik";
  background: var(--bg);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  /* width: 41.4rem;
  min-height: 73.6rem; */
}

.header {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--text);
  margin-top: 2.4rem;
}
.task-input {
  width: 36.5rem;
  height: 5.6rem;
  margin-top: 2.4rem;
  display: flex;
  gap: 0.8rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 2.4rem;
}
.input-field {
  width: 24.2rem;
  height: 5.6rem;
  background: none;
  font-size: 2rem;
  border: 1px solid var(--outline);
  padding-left: 1rem;
  border-radius: 9px;
  color: var(--text);
}
.add-task {
  width: 11.5rem;
  height: 5.6rem;
  font-size: 2rem;
  background: var(--add);
  color: var(--bg);
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
}
.tasks-container {
  width: 41.3rem;
  height: 49.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  height: 49.4rem;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
.tasks {
  display: flex;

  width: 35rem;
  height: 4.6rem;
  border-radius: 9px;
  border: 1px solid var(--outline);
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.task-text {
  color: var(--text);
  font-size: 1.4rem;
}
.done {
  width: 4.6rem;
  height: 3rem;
  background: var(--done);
}
.remove {
  width: 6.1rem;
  height: 3rem;
  background: var(--remove);
}
.btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.task-btn {
  font-size: 1.4rem;
  border: none;
  border-radius: 11px;
  color: var(--bg);
}
.footer {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  color: var(--text);
  font-size: 1.6rem;
}
.tasks-cancel {
  background: var(--uncheck-bg);
}
.tasks-cancel p {
  color: var(--uncheck-text);
  text-decoration: line-through;
}
.tasks-cancel .done {
  display: none;
}
.tasks-cancel .undone {
  background: var(--undone);
  width: 6rem;
  height: 3rem;
}
